@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* RESET CSS */

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, li {list-style: none; margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
div, header, nav, main, footer, section, article{margin: 0; padding: 0; box-sizing: border-box; display: block;} 
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
img {vertical-align: baseline;}



/* 공통 클래스 */
body {
  font: 13px/1.825 'Roboto', serif;
  font-style: normal; font-weight: 400;
  text-decoration: none; text-transform: none;
  color: #000000; background-color: #1a0014;
  -webkit-font-smoothing: antialiased;
}

::selection {background: #b3d4fc;}



/* ROOT */
:root {
  --text-white: #ffffff;
  --text-black: #111111;
  --text-gray: #696969;
}





/* HEADER PC */

#header-pc {
  width: 158px; padding: 30px; 
  color: var(--text-gray); background-color: #ffffff; 
  position: fixed; top: 0; bottom: 0; left: 0;
  z-index: 100; box-sizing: content-box;
}

.logo-box a {display: block;}
.logo-box a img {width: 100%;}

.gnb-menu {
  font-size: 12px; line-height: 1.725; 
  font-weight: 500;
  margin: 0; padding: 30px 0 0;
}

.gnb-menu li {margin: 0 0 3px;}
.gnb-menu li a:hover {color: var(--text-black); text-decoration: underline;}

.gnb-work {
  font-size: 12px; line-height: 1.225; 
  font-weight: 400;
  margin: 30px 0 0; padding: 0;
}

.gnb-work li {margin: 0 0 8px;}
.gnb-work li a:hover {color: var(--text-black);}


#footer-info {
  width: 158px; padding: 30px; 
  position: fixed; bottom: 0; left: 0;
  font-size: 10px; 
  text-align: center; text-transform: uppercase;
  z-index: 102; box-sizing: content-box;
  color: var(--text-gray); background-color: #ffffff;
}

.social-wrap {width: 100%; margin: 30px 0 0;}
.social {display: inline-block; width: 25px; height: 25px; padding: 3px;}
.social img {width: 100%;}

#footer-info p {padding: 16px 0 0;}


/* HEADER MOBILE */
#header-mobile {display: none;}
.header-mobile-acc-menu {display: none;}



@media screen and (max-width: 960px) {
  #header-pc {display: none;}
  #footer-info {display: none;}


  .header-mobile-acc-menu {
    display: block;
    height: 500px;
    background-color: var(--text-gray);
    color: var(--text-white);
  }

  #header-mobile {
    display: flex; justify-content: space-between;
    padding: 20px 30px; 
    color: var(--text-gray); background-color: #ffffff; 
    z-index: 100; box-sizing: content-box;
  }
  
  .logo-box-mobile a {display: block;}
  .logo-box-mobile a img {width: 63px;}

  .mobile-menu {
    font-size: 14px; letter-spacing: 2px;
    font-weight: 400; text-transform: uppercase;
    color: var(--text-black);
  }


  #main {width: 100%; padding:0;}
  .card-item {
     width: calc((100vw - 16px)/4); 
     height: calc((100vw/4)/1.3);
  }
}



